@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Validacion Usuario</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form action="Home/ValidarUsuario" method="post" onsubmit="return validarFormulario()">
                    <div asp-validation-summary="ModelOnly"> </div>

                    <div class="form-group">
                        <label for="Usuario" class="control-label">Usuario</label>
                        <input for="Usuario" class="form-control" placeholder="usuario" required />
                    </div>

                    <div class="form-group">
                        <label for="Password" class="visually-hidden">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-success" data-toggle="modal"  onsubmit="return checkCookie()">Verificar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script>
        function validarFormulario() {
            // Validar que el contenido del nombre está todo en minúsculas y que como mínimo son 8 caracteres
            var usuario = document.getElementById("user").value;
            if (usuario !== usuario.toLowerCase()  usuario.length < 8) {
                alert("El nombre de usuario debe estar en minúsculas y tener al menos 8 caracteres.");
                return false;
            }

            // Validar que la password NO es igual al nombre y que tiene al menos 6 caracteres, con letras y dígitos
            var password = document.getElementById("password").value;
            if (password === nombre  password.length < 6! /\d /.test(password)! / [a - zA - Z] /.test(password)) {
                alert("La contraseña debe tener al menos 6 caracteres, incluyendo letras y dígitos, y no debe ser igual al nombre de usuario.");
                return false;
            }

            // Si se han superado todas las validaciones, enviar el formulario
            return true;
        }
    </script>

    <script>
        function checkCookie() {
            let idcliente = getCookie("user");
            if (idcliente != "") {
                alert("Welcome again " + user);
            } else {
                idcliente = prompt("Please enter your name:", "");
                if (idcliente != "" && idcliente != null) {
                    setCookie("user", user, 365);
                }
            }
        }
    </script>

</body>
</html>
